<h2>Create New Landmark</h2>
<form method="POST" action="/landmarks">
<label for="landmark_name">Name: </label>
<input type="text" name="landmark[name]" id="landmark_name">
<input type="text" name="landmark[year_completed]" id="landmark_year_completed">
<h3>Existing Figures</h3>
  <% @figures.each do |figure| %>
    <input type="radio" name="landmark[figure_id]" id="<%= figure.id %>" value="<%= figure.id %>"><%= figure.name %></input><br>
  <% end %>
  <br>

  <h3>New Figure</h3>
  <label>Figure Name: </label>
  <input type="text" name="figure[name]" id="figure_name"></input>
  <br><br>
  <input type="submit" value="Create New Landmark">
</form>
<!-- add content here -->

<a class="button" href="/landmarks">Landmarks</a>
<a class="button" href="/">Home</a>
